<form [formGroup]="mathForm">
  <div>
    <label for="operations">Escolha seu desafio:</label>
    <select id="operations" formControlName="operation">
      <option value="+">Adição</option>
      <option value="-">Subtração</option>
      <option value="*">Multiplicação</option>
      <option value="/">Divisão</option>
    </select>
    <label for="numbers">Números:</label>
    <select name="numbers" formControlName="numbers">
      <option value="10">0 - 10 (Iniciante)</option>
      <option value="100">0 - 100 (Intermediário)</option>
      <option value="1000">0 - 1000 (Profissional)</option>
    </select>
  </div>
  <div>
    {{ a }} {{ getOperationSign() }} {{ b }} =
    <input formControlName="answer">
  </div>
</form>

<div>
  <p>Tempo médio de cada solução: {{ secondsPerSolution | number: '1.1-2' }}s</p>
</div>

<hr>

<div>
  Form is valid: {{ mathForm.valid }}
</div>
<div>
  Form values: {{ mathForm.value | json }}
</div>
<div>
  Form errors: {{ mathForm.errors | json }}
</div>
